.text-capitalize {
  text-transform: capitalize;
}

.h100,
body,
#root {
  height: 100% !important;
}

#toasts-container {
  height: fit-content;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}
